<table>
<tr>
	<td class="nav_col">
		<% if @piece.id > 1 %>
			<%# = link_to image_tag("left.png"), @piece.previous %>
		<% end %>
	</td>
	<td class="contents_col">
		<%# TODO: eventually fix the model so only one URL is needed %>
		<% if @piece.photo_path.nil? %>
			<%= image_tag(@piece.photo.url, :class => "img_display") %>
		<% else %>
			<%= image_tag(@piece.photo_path, :class => "img_display") %>
		<% end %>
	</td>
	<td class="contents_col">
		<div id="story">
			<h3>Box #<%= @piece.box %></h3>
			<p><%= @piece.name %> by <%= @piece.brand %></p>
			<p><%=raw @piece.story %> </p>
		</div>
	</td>
	<td class="nav_col">
		<% if @piece.id < @pieces.count %>
			<%# = link_to image_tag("right.png"), @piece.next %>
		<% end %>
	</td>
</tr>
</table>




